* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}
nav {
  padding: 30px 0;
}
nav ul {
  display: flex;
  gap: 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
}